:root {
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
	--bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);

	--marquee-width: 80vw;
  --marquee-height: 15vh;
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

section,
footer,
header,
main,
nav {
	display: block;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--color-text);
	text-align: left;
	background-color: var(--bg);
}

a {
	color: #495fef;
	text-decoration: none;
	background-color: transparent;
}

h1,
h2,
h3,
h4 {
	color: var(--color-headings);
	margin-top: 0.25rem;
	margin-bottom: 0.5rem;
}

p { margin-top: 0; }

button { outline: none; }

.container,
.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container {
	max-width: 1140px;
}

.section-spacer {
	margin: 3rem 0;
}

.ul-defaults-none {
	list-style: none;
	margin: 0;
	padding: 0;
}

.btn {
	font-weight: 700;
	min-width: 175px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	transition: .4s;
	letter-spacing: 1.63px;
	height: 65px;
	padding-left: 30px;
	padding-right: 30px;
	box-shadow: 0 32px 54px rgba(3, 3, 3, 0.12);
}

.btn:not(:disabled):not(.disabled),
button:not(:disabled):not(.disabled) {
	cursor: pointer;
}


.btn-primary,
.btn-primary a {
	color: #fff;
	background-color: #495fef;
	border-color: #495fef;
}


.rounded-pill {
	border-radius: 50rem;
}

.header-lg {
	font-size: 5rem;
	letter-spacing: -2.5px;
	line-height: 1.05;	
}

.header-md {
	font-size: 3rem;
	letter-spacing: -2px;
}

.sub-header {
	font-size: 1.3125rem;
	line-height: 1.5;
	padding-top: 1.25rem;
	padding-bottom: 1.875rem;
}


.flex-j-center {
	display: flex;
	justify-content: center;
}

.flex-a-center {
	display: flex;
	align-items: center;
}

@media (max-width: 400px) {
	.header-lg {
		font-size: 3rem;
		line-height: initial;	
	}
	
	.header-md { font-size: 2rem; }
}
