@import 'variables';
@import 'mixins/functions';

/*####### Theme: Light -> Default #########*/
%main {
  --chi: #{$chi};
  --chi--tint: #{$chi--tint};
  --chi--accent: #{$chi--accent};

  --alpha: #{$alpha};
  --alpha--tint: #{$alpha--tint};
  --alpha--shade: #{$alpha--shade};
  --alpha--accent: #{$alpha--accent};

  --beta: #{$beta};
  --beta--tint: #{$beta--tint};
  --beta--shade: #{$beta--shade};
  --beta--accent: #{$beta--accent};

  --gamma: #{$gamma};
  --gamma--tint: #{$gamma--tint};
  --gamma--shade: #{$gamma--shade};
  --gamma--accent: #{$gamma--accent};

  --delta: #{$delta};
  --delta--tint: #{$delta--tint};
  --delta--shade: #{$delta--shade};
  --delta--accent: #{$delta--accent};

  --zeta: #{$zeta};
  --zeta--tint: #{$zeta--tint};
  --zeta--shade: #{$zeta--shade};
  --zeta--accent: #{$zeta--accent};

  --eta: #{$eta};
  --eta--tint: #{$eta--tint};
  --eta--shade: #{$eta--shade};
  --eta--accent: #{$eta--accent};

  --theta: #{$theta};
  --theta--tint: #{$theta--tint};
  --theta--shade: #{$theta--shade};
  --theta--accent: #{$theta--accent};

  --iota: #{$iota};
  --iota--tint: #{$iota--tint};
  --iota--shade: #{$iota--shade};
  --iota--accent: #{$iota--accent};

  --psi: #{$psi};
  --psi--tint: #{$psi--tint};
  --psi--shade: #{$psi--shade};
  --psi--accent: #{$psi--accent};

  --omega: #{$omega};
  --omega--tint: #{$omega--tint};
  --omega--shade: #{$omega--shade};
  --omega--accent: #{$omega--accent};

  --kappa: #{$kappa};
  --lambda: #{$lambda};
  --mu: #{$mu};
  --nu: #{$nu};

  --sigma: #{$sigma};
  --xi: #{$xi};
  --omi: #{$omi};
  --omi--tint: #{$omi--tint};
  --pi: #{$pi};
  --rho: #{$rho};
  --tau: #{$tau};

  --white: #{$white};
  --black: #{$black};

  --data-source-header: rgba(134, 140, 174, 0.5);
  --data-source-border--primary: rgba(81, 89, 95, 0.5);
  --data-source-table-row: rgba(128, 128, 140, 0.1);
  --data-source-border--secondary: rgb(99, 134, 202);

  --notification-font-color: var(--rho);

  --notification-success-bg: linear-gradient(0deg, rgba(0, 220, 180, 0.1), rgba(0, 220, 180, 0.1)), #FFFFFF;
  --notification-success-base: var(--iota);

  --notification-error-bg: linear-gradient(0deg, rgba(244, 63, 96, 0.1), rgba(244, 63, 96, 0.1)), #FFFFFF;
  --notification-error-base: var(--delta);

  --notification-warning-bg: linear-gradient(0deg, rgba(255, 192, 0, 0.1), rgba(255, 192, 0, 0.1)), #FFFFFF;
  --notification-warning-base: var(--psi);

  --notification-info-bg: linear-gradient(0deg, rgba(7, 176, 215, 0.1), rgba(7, 176, 215, 0.1)), #FFFFFF;
  --notification-info-base: var(--gamma);

  --notification-comment-bg: linear-gradient(0deg, rgba(128, 128, 140, 0.1), rgba(128, 128, 140, 0.1)), #FFFFFF;
  --notification-comment-base: var(--omi);



  /* [DATA TABLE COLORS] */
  --header-cell-even: #334;
  --header-cell-odd: #{$pi};
  --header-border: #0B1B47;
  --cell-accent: rgb(241, 241, 243);
  --row-cell-accent: rgb(230, 230, 236);
  --row-tint: rgb(241, 241, 246);
  --cell-tint: rgb(230, 230, 236);
  --row-active: #07B0D7;
  --cell-active: #0585A2;

  --scroll-bar-track: rgb(205, 209, 213);
  --scroll-bar-thumb: rgb(13, 38, 198, 0.6);

  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-accent: #{$font-accent};
}

%dark {
  --alpha: #0C141F;
  --alpha--tint: #{$alpha--tint};
  --alpha--accent: #{$alpha--accent};
  --lambda: #6FC3DF;
}
