@import './styles/styles';

html,
body {
  @extend %main;
  display: block;
  font-family: 'Roboto', Arial, sans-serif !important;
  font-size: 0.832vw;
  font-weight: normal;
  height: 100vh;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  text-align: left;
  width: 100%;
  zoom: 100%;
  transition: all 0.5s ease-out;
}

html[data-theme='dark'] {@extend %dark;}

a,
a:link,
a:active,
a:focus {
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}
a:hover {
  color: unset;
  text-decoration: none;
}

/*### Scrollbar ###*/
/* width */
::-webkit-scrollbar {
  width: $scroll-bar--size;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-track);
  border-radius: $scroll-bar--size;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb);
  border-radius: $scroll-bar--size;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-thumb);
}
label { color: var(--pi); }
.show { display: block; }
.hide { display: none !important; }

.no-flick{
  -webkit-backface-visibility: hidden;
  -webkit-transform:translate3d(0,0,0);
}

.full-height { height: 100%; }
.full-width { width: 100%; }

/* [ NOTE:  This is just temporary; until we can get it changed on the WalkMe site for our account.
     Once the settings are in place this will be deleted. ] */
.walkme-player.walkme-zambezi.walkme-california.walkme-position-minor-right_corner {
  right: unset !important;
  bottom: -$size-15 !important;
  left: $size-30 !important;
}
.walkme-inject {
  .walkme-player.walkme-zambezi.walkme-california.walkme-theme-white-blue.walkme-position-major-top.walkme-position-minor-left_corner, .walkme-player.walkme-zambezi.walkme-california.walkme-theme-white-blue.walkme-position-major-top.walkme-position-minor-right_corner, .walkme-player.walkme-zambezi.walkme-california.walkme-theme-white-blue.walkme-position-major-bottom.walkme-position-minor-left_corner, .walkme-player.walkme-zambezi.walkme-california.walkme-theme-white-blue.walkme-position-major-bottom.walkme-position-minor-right_corner {
    background-size: unset !important;
    background-position: unset !important;
    background-repeat: unset !important;
    background-image: unset !important;
    content: url(/images/walkme-logo.png) !important;
    width: $size-100 !important;
    height: $size-30 !important;
  }
}


@media (min-width: 576px) {
  .modal-dialog {
    max-width: unset;
    margin: 1.75rem auto;
  }
}
